################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Application/obj
/Domain/obj
/Infrastructure/obj
/Web.Api/obj
/Web.Client/obj
